[run]
branch = True
omit = */tests/*,
        *__init__.py,
        migrations/*
        main.py
        initial_data.py
        commons/db/init_db.py


[report]
    omit = */tests/*,
        *__init__.py,
        migrations/*
        main.py
        initial_data.py
        commons/db/init_db.py

